<!DOCTYPE HTML>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @Html.Partial("_Header")
    <main>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>
    @Html.Partial("_Footer")
    <script asp-src-include="~/*.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>