@using DotNetCore2018.WebApi.HtmlHelpers
@model CategoryViewModel

<div class="card" style="width: 18rem;">
    @Html.ImageLink(Model.Id)
    <div class="card-body">
        <h5 class="card-title">@Model.Id: @Model.Name</h5>
        <a asp-page="/category/edit" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">Edit</a>
        <a onclick="window.call_rust(x => x.ui_category_delete(@Model.Id))" class="btn btn-primary btn-sm">Delete</a>
        <a asp-route="images" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">Download Image</a>
    </div>
</div>